/*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', 'sans-serif', 'Sriracha'
}



.h1 {
    left: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(img/bghonkaistarrail1.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}


.wrapper {
    width: 420x;
    height: 30vw;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: #fff;
    border-radius: 10px;
    padding: 50px 60px;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: #fff;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forgot label input {
    accent-color: #fff;
    margin: 8px;
}

.remember-forgot a {
    color: #fff;
    text-decoration: none;
}

/*.remember-forgot a:hover {
    text-decoration: underline;
}*/

.wrapper .btn {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

/*.register-link p a:hover {
    text-decoration: underline;
}*/

.wrapper .login-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.login-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

/*.login-link p a:hover {
    text-decoration: underline;
}*/

.slider {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.slider figure {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    animation: fade 20s infinite;
    opacity: 0;
}

.slider figure:nth-child(1) {
    background-image: url(img/bgoverlord1.jpg);
    animation-delay: 0s;
}

.slider figure:nth-child(2) {
    background-image: url(img/bgonmyoji1.jpg);
    animation-delay: -4s;
}

.slider figure:nth-child(3) {
    background-image: url(img/bghonkaistarrail1.jpg);
    animation-delay: -8s;
}

.slider figure:nth-child(4) {
    background-image: url(img/bgbluearchive1.jpg);
    animation-delay: -12s;
}

.slider figure:nth-child(5) {
    background-image: url(img/bgarknight1.jpg);
    animation-delay: -16s;
}

@keyframes fade {
    0% { opacity: 0; }
    5% { opacity: 1; }
    25% { opacity: 1; }
    30% { opacity: 0; }
    100% { opacity: 0; }
}

/*nav {

    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    padding: 1rem;
    position: fixed;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    top: 2rem;
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.5);
}*/

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 3rem;
}

a {
    text-decoration: none;
    color: #ffda79;
    font-weight: 500;
    position: relative;
    padding: 5px;
    transition: color 0.3s ease;
}

a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background: white;
    bottom: 0;
    left: 50%;
    transition: all 0.3s ease;
}

a:hover::after {
    width: 100%;
    left: 0;
}

.navbar {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    padding: 0.8rem;
    position: fixed;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    top: 2rem;
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.5);
}

.nav-links {
    display: flex;
    gap: 2rem;
}

.nav-link, .drop-down li {
    list-style: none;
    height: 100%;
    padding: 0.5rem 1rem;
    font-weight: 500;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: currentColor;
}



.drop-down {
    position: absolute;
    padding: 0.5rem 0;
    margin: 0.5rem -0.5rem;
    background: rgba(255, 255, 255, 0.15);
    color: black;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    font-size: 16px;
    display: none;
}

.nav-link:hover {
    /*background-color: #ffda79;*/
    color: #fff;
    border-radius: 0.5rem;
}

.services:hover .drop-down {
    display: block;
}

.services a {
    display: flex;
    /*align-items: center;*/
    top: -0.27rem;
}

.services .dropdown-icon {
    font-size: 18px;
    position: relative;
    top: 0.3rem;
    right: -5px;
    transform: rotate(0deg);
    transition: 0.3s ease-in-out all;
}

.services:hover .dropdown-icon {
    transform: rotate(180deg);
    top: -0.3rem;
}

.drop-down li:hover {
    /*background: black;*/
    color: #fff;
    border-radius: 0.5rem;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}
